//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

.woocommerce ul.products li.product .button,
button,.woocommerce-Button,
.button,.woocommerce button.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	appearance: none;
	background-color: $ds-black;
	border: none;
	border-radius: 3px;
	border-width: 0;
	color: $color-button-text;
	line-height: 1.5;
	padding: $padding-input;

	// IE 11 helper.
	.ie & {
		height: rem(35);
	} // .ie &

	&:hover {
		background-color: $color-button-background-hover;
		color: $color-white;
		
	} // &:hover

	&:active,
	&:focus {
		background-color: $color-button-background-hover;
	} // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]

.button-section{
	.info-btn{
		background-color: $color-red!important;
		border:1px solid $color-red!important;
		color: $color-white!important;
	}
	.linecard-btn{
		background-color: $ds-black!important;
		border: 1px solid $color-tundora!important;
	}
}
.contact-btn{
	display: none;
	float: right;
	background: #333;
	&:hover{
		background-color: $color-red;
	}
	a{
		text-decoration: none;
		color: $color-white;
	}
	@include media($tablet-portrait) {
		display: block;
	}
}
.button, button, input[type=button], input[type=reset], input[type=submit]{
	background-color: $color-red;
	&:hover{
		background-color: $color-youtube;
	}
}
.woocommerce table.my_account_orders .button,
.woocommerce input.button,.single_add_to_cart_button,
.woocommerce-info .button,
.linecard-btn, .btn-details{
	background-color: $ds-black!important;
	border: 1px solid $color-tundora!important;
	color: $color-white!important;
	text-decoration: none;
	
}
.woocommerce-info,.woocommerce-message{
	border-top-color: $color-red;
	a{
		font-size: 24px;
		text-decoration: none;
		color: $color-red;
	}
	&::before{
		color: $color-red;
	}
}
.checkout-button {
	background-color: $color-red!important;
	padding: 0.3em!important;
}
.button-cart, .alternative, #place_order {
	background-color: $color-red!important;
	color: $color-white !important;
}

ul.products li.product .product-wraper .product-content .price-details .btn-details{
	margin: 5px;
	
}
.woocommerce a.added_to_cart{
	display: none;
}


.quantity {
	.plus,.minus {
		float: none!important;
		border-radius: 0;
		outline: none;
	}
	.qty {
		padding-left: 0;
		padding-right: 0;
		display: inline-block;
		vertical-align: top;
		margin: 0;
		width: 1.7em;
	}
	.is-form {
		overflow: hidden;
		position: relative;
		background-color: #f9f9f9;
		text-shadow: 1px 1px 1px #fff;
		color: #666;
		border: 1px solid #ccc;
		text-transform: none;
		font-weight: normal;
	}
	
}//minus and plus buttons
 
.button:hover, button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover{
background-color: darken( $color-red, 5%);
transition: all .25s ease-in;
}