//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer{
	background: #333;
    border: none!important;
	&::before,&::after{
		content: "";
		display: block;
		height: 7px;
		position: relative;
		bottom: 0;
		background: #7f1418;
	}
	.site-info {
		text-align: center;
		.copyright-text{
			color: $color-white;
			padding: 20px;
			p{
				margin: 0;
				font-size: 9px;
				@include media($tablet-landscape) {
					font-size: 16px;
				}
			}
		}
	} // .site-info
	.footer-nav{
		padding-top: 10px;
		.footer-navigation{
			display: flex;
			justify-content: center;
			.menu{
				li{
					
					text-transform: capitalize;
					a{
						color: #fff;
					}
					a::after{
						content: "|";
						padding: 6px;
					}
					
				}
				li:last-child a:after{
					content: "";
				}
			}
		}
	}
}