//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------

button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
} // button, input, select, textarea

// Addresses excess padding in IE8/9
input[type='checkbox'],
input[type='radio'] {
	padding: 0;
} // input[type="checkbox"], input[type="radio"]

// Remove the clear x icon in IE
input[type='text']::-ms-clear,
input[type='search']::-ms-clear {
	display: none;
} // input[type="text"]::-ms-clear, input[type="search"]::-ms-clear

input[type="search"] {// Addresses appearance set to searchfield in S5, Chrome
	box-sizing: content-box;
	border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

	// Corrects inner padding displayed oddly in S5, Chrome on OSX
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	} // &::-webkit-search-decoration
} // input[type="search"]

// Corrects inner padding and border displayed oddly in FF3/4
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
} // button::-moz-focus-inner, input::-moz-focus-inner

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea,select{
	appearance: none;
	border: 1px solid $color-red;
	border-radius: 0;
	line-height: 1.5;
	padding: $padding-input;
	outline: none;

	&:focus {
		color: $color-input-focus-text;
	} // &:focus
} // input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea

textarea {
	@include size(100% auto);

	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; // Improves readability and alignment in all browsers
} // textarea

.gform_wrapper form{
	padding: 40px;
	input.button{
		padding: 13px 85px;
		font-size: 24px;
		text-transform: uppercase;
		}
}
.qutation-gf{
	background: $color-dove-gray;
	form{
		background: $color-dove-gray;
		input[type='text'],
		input[type='email'],
		input[type='url'],
		input[type='password'],
		input[type='search'],
		input[type='number'],
		input[type='tel'],
		input[type='range'],
		input[type='date'],
		input[type='month'],
		input[type='week'],
		input[type='time'],
		input[type='datetime'],
		input[type='datetime-local'],
		input[type='color'],
		textarea,select {
			width: 100%!important;
			border-radius: 8px;
			border: 1px solid $color-red;
			}
	}
}
.form-description{
	.header{
        padding: 20px 0;
        .title{
            color:#7f1418;
            font-size: 36px;
            font-weight: 400;
            margin: 0;
        }
	}

}
.gform_wrapper table.gfield_list tr{
	background: none!important;
    border: 0!important;
    border-top: 0!important;
    border-bottom: 0!important;
}
