//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------
.site-header {
	background: $color-white;
	z-index: 999;
	@include media($tablet-portrait) {
	    background: #fff;
		width: 100%;
		top: 0;
		display: flex;
		align-items: center;
	}
	.nav-bar {
		display: none;
		@include media($tablet-portrait) {
			@include span-columns(8);
			float: right;
		}
	} // Site logo.

 .site-branding {
	@include span-columns(12);

	@include media($tablet-portrait) {
		@include span-columns(5);
	}

	@include media($tablet-landscape) {
		@include span-columns(3);
	}

	// Don't let the logo get out of control.
	img {
		width: 50%;
		@include media(min-width $tablet-portrait max-width $tablet-landscape) {
			float: left;
		}
	} // img
 } // .site-branding

}
	//-----------------------------------------
	// Header action container — Form Dropdown.
	//-----------------------------------------
	.secondary-menu{
		display: flex;
		background: #333;
		align-items: center;
	  .search-form{
		  @include media($tablet-portrait){
			margin: auto;
		  }
			form{
				@include media($tablet-portrait){
					display: flex;
				}
				button{
					width: 100px;
					margin-right: 5px;
				}
			}
        }
	}
	.site-header-action {
		@include span-columns(12);

		@include media($tablet-portrait) {
			@include span-columns(5);
		}

		@include media($tablet-landscape) {
			@include span-columns(4);

			float: right;
			margin-right: 0;
		}

		@include media($desktop) {
			@include span-columns(3);

			float: right;
			margin-right: 0;
		}

		@include media($desktop-large) {
			@include span-columns(2);

			float: right;
			margin-right: 0;
		}
	} // .site-header-action

	//-----------------------------------------
	// Site header action cta buttons.
	//-----------------------------------------
	.site-header-action {

		// Span the button the full width.
		.button-link,
		.cta-button {
			color: $color-white;
			display: block;
			text-align: center;
			text-decoration: none;
			width: 100%;
		} // .button-link, .cta-button
	} // .site-header-action

	//-----------------------------------------
	// Site header Action Searchform.
	//-----------------------------------------
	.site-header-action {

		.search-form {
			opacity: 0;
			transition: $transition-opacity;
			visibility: hidden;
			.search{
				border-radius: 0!important;
			}
			// If the body class is there, show the form.
			.search-form-visible & {
				display: block;
				opacity: 1;
				transition: $transition-opacity;
				visibility: visible;
			} // .search-form-visible &
		} // .search-form
	} // .site-header-action

	//-----------------------------------------
	// Main Navigation Container.
	//-----------------------------------------
	.main-navigation {
		@include span-columns(12);
	} // .main-navigation
	.menunav{
		@include outer-container();
		margin-right:0;
	}
	.top-nav,.bottom-nav{
		@include span-columns(12);
	}
