.contact-info{
    padding: 30px 0;
    .page-title{
        text-transform: capitalize;
        color: $color-red;
        font-size: 40px;
    }
    .information{
        padding: 30px;
        border: 2px solid $color-red;
        background: $color-whitesmoke;
        @include outer-container();
      .detatils{
        @include span-columns(12);
        @include media($tablet-landscape) {
            @include span-columns(3);
        }
        .contact-title{
            margin-bottom: 0;
            font-weight: 400;
        }
    .info{
     list-style: none;
     margin: 2px;
     padding: 2px;
    }
      }
    }
}