.form-selection{
    background-color: $color-dove-gray;
    .gform_wrapper{
        background-color: $color-dove-gray; 
        input[type='text'],
		input[type='email'],
		input[type='url'],
		input[type='password'],
		input[type='search'],
		input[type='number'],
		input[type='tel'],
		input[type='range'],
		input[type='date'],
		input[type='month'],
		input[type='week'],
		input[type='time'],
		input[type='datetime'],
		input[type='datetime-local'],
		input[type='color'],
		textarea,select{
			width: 100%!important;
            border-radius: 8px;
            border: 1px solid $color-red;
            }
     input.button{
        padding: 13px 85px;
        font-size: 24px;
        text-transform: uppercase;
        }
    }
}