.page-template {
    .faqs-container{
        .header{
            padding: 20px 0 0;
            @include media($tablet-portrait) {
                padding: 40px 0 0;
            }
            .title{
                color: $color-red;
                text-transform: uppercase;
                font-size: 20px;
            }
        }
        .expander {
            border: 1px solid $color-red;
            margin: 20px 0;
            .section-title {
                padding: 10px 0;
                display: flex;
                align-items: center;
                align-content: center;
                padding: 20px;
                &.row-1+.section-content {
                    display: block;
                }
                .question {
                    margin: 0 0 0 20px;
                    text-transform: uppercase;
                    font-size: 12px;
                    @include media($tablet-portrait) {
                        font-size: 14px;
                    }
                }
            }
            .section-content {
                display: none;
                margin-left: 40px;
                padding: 0px 20px 20px;
                a{
                    text-decoration: none;
                }
                li{
                    padding-bottom: 15px;
                }
            }
        }
        
        .plusminus {
            position: relative;
            width: 20px;
            height: 20px;
            &:before,
            &:after {
                content: "";
                position: absolute;
                background-color: $ds-black;
                transition: transform 0.25s ease-out;
            }
            /* Vertical line */
            &:before {
                top: 0;
                left: 50%;
                width: 4px;
                height: 100%;
                margin-left: -2px;
            }
            /* horizontal line */
            &:after {
                top: 50%;
                left: 0;
                width: 100%;
                height: 4px;
                margin-top: -2px;
            }
        }
        
        .section-title.open .plusminus {
            cursor: pointer;
            &:before {
                transform: rotate(90deg);
            }
            &:after {
                transform: rotate(180deg);
            }
        }
        .heading{
            text-align: center;
            text-transform: uppercase;
            padding-top: 20px;
        }
    }

    .faq-contact{
        padding: 30px;
       .faq-footer,.call-to-action{
        @include span-columns(12);
        text-align: center;
        @include media($tablet-portrait) {
            @include span-columns(6);
            
        }
        a{
            text-decoration: none;
            color: $color-white;
        }
       }
       .call-to-action{
       padding: 0 30px 20px;
       }
    }
}
