.archive{
    .header{
        padding: 20px 0;
        .title{
            color:$color-red;
            font-size: 36px;
            font-weight: 400;
            margin: 0;
        }
    }
    .category-product-wrapper{
        min-height: 20px;
        margin-bottom: 20px;
        background-color: #f4f4f4;
        border: solid 2px $color-red;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        @include outer-container();
        @include media($tablet-landscape) {
            display: flex;
            align-items: center;
        }
        .product-image{
            display: flex!important;
            justify-content: center;
            @include span-columns(12);
            @include media($tablet-landscape) {
                @include span-columns(4);
            }

        }
        .product-content{
            @include span-columns(12);
            @include media($tablet-landscape) {
                padding: 10px;
                float: right;
                @include span-columns(8);
            }
            p{
                font-size: 13px;
            }
            .all-parts{
                display: flex;
                padding-bottom: 10px;
                border-bottom: 2px dashed #ddd;
                @include media($tablet-landscape) {
                    display: block;
                }
                a{
                    color: $color-red;
                    text-decoration: none;
                    width: 100%;
                        text-align: center;
                        @include media($tablet-landscape) {
                        width: 17%;
                        text-align: center;
                        }
                }
                .main-cat{
                    font-weight: 700;

                }
                .view-parts{
                    float: right;
                }
            }
            .sub-info{
                float: right;
                a{
                    color: $color-red;
                    margin-left: 5px;
                    text-decoration: none;
                    &:before {
                        content:"• ";
                        color: #777;
                    }
                }
            }
                
        }
    }
}
.search-results{
    main{
        padding: 20px;
        header{
            h1{
                padding-left: 20px;
                margin: auto 0;
            }
        }
    }
}