.page-cart {
    .woocommerce {
        padding: 10px;
        @include span-columns(12);
        @include media($tablet-landscape) {
            form {
                border-right: 1px solid #ececec;
                @include span-columns(8);
                table {
                    padding-right: 11px;
                }
                a {
                    color:  $color-cod-gray;
                    text-decoration: none;
                    font-size: .9em;
                    text-transform: inherit;
                    letter-spacing: 0;
					font-weight: normal;
					font-weight: 600;
					&:hover{
						text-decoration: underline;
					}
                }
            }
            .cart-collaterals {
                @include span-columns(4);
                .cart_totals {
                    width: 100%;
                }
            }
        }
        .cart-collaterals .cart_totals,
        {
            float: none;
            .woocommerce-shipping-calculator {
                width: 100%;
            }
        }
        .woocommerce-cart-form table {
            border: none;
            border-collapse: separate;
            border-spacing: 0 5px;
            thead tr th {
                text-align: left;
                border-collapse: separate;
                border-bottom: 3px solid #eee;
                line-height: 16px!important;
                padding: 9px 12px;
            }
            tbody tr td {
                border-bottom: 1px solid #eee;
            }
            tbody tr:last-child td {
                border-bottom: none;
            }
            td {
                border: none;
            }
            a.remove {
				display: block;
				width: 24px;
				height: 24px;
				line-height: 19px!important;
				color:$color-red!important;
				font-size: 29px;
				background: none;
            }
        }
        .cart-collaterals {
            table {
                border: none;
                border-collapse: separate;
                border-spacing: 0 5px;
                thead tr th {
                    text-align: left;
                    border-collapse: separate;
                    border-bottom: 3px solid #eee;
                    line-height: 16px!important;
                    padding: 9px 12px;
                }
                td:last-child {
                    border-bottom: none!important;
                }
                tbody th {
                    font-size: .9em;
                    text-transform: inherit;
                    letter-spacing: 0;
                    font-weight: normal;
                }
            }
		}
		.woocommerce-shipping-calculator{
			border: none;
        }
        .quantity, input[type=number]{
           padding: .375em;
            color: #000;
          }
    }
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
    width: 67px;
}


.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    font-size:28px;
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents{
    text-decoration: none;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: $color-red;
    font-weight: bold;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}

@media screen and (max-width: 600px) {

	/* Force table to not be like tables anymore */
	.woocommerce-page table.shop_table, 
	.woocommerce-page table.shop_table thead, 
	.woocommerce-page table.shop_table tbody, 
	.woocommerce-page table.shop_table th, 
	.woocommerce-page table.shop_table td, 
	.woocommerce-page table.shop_table tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.woocommerce-page table.shop_table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.woocommerce-page table.shop_table tr.woocommerce-cart-form__cart-item.cart_item { 
		border: 1px solid #d2d3d3; 
		margin-bottom: 30px;
	}
	
	.woocommerce-page table.shop_table td { 
		/* Behave  like a "row" */
		border: 1px solid #d2d3d3; 
		position: relative;
	}
	
	.woocommerce-page table.shop_table {
		border: none;
	}
	
	.woocommerce-page table.shop_table td.product-spacer {
		border-color: #FFF;
		height: 10px;
	}
	
	.woocommerce-page table.shop_table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/

	.woocommerce-page table.shop_table td.product-remove a {
		//float: right;
	}
    .woocommerce-page table.shop_table td.product-thumbnail{
        display: block!important;
        &:before {
            content: "IMAGE";
        }
    }
	
	.woocommerce-page table.shop_table td.product-name:before {
		content: "PRODUCT";
	}
	
	.woocommerce-page table.shop_table td.product-price:before {
		content: "PRICE";
	}
	
	.woocommerce-page table.shop_table td.product-quantity:before {
		content: "QUANTITY";
	}
	
	.woocommerce-page table.shop_table td.product-subtotal:before {
		content: "SUBTOTAL";
	}
	
	.woocommerce-page table.shop_table td.product-total:before {
		content: "TOTAL";
	}
	
	.woocommerce .quantity, 
	.woocommerce #content .quantity, 
	.woocommerce-page .quantity, 
	.woocommerce-page #content .quantity {
		margin: 0;
	}
	
	.woocommerce-page table.cart td.actions, 
	.woocommerce-page #content table.cart td.actions {
		text-align: left;
		border:0;
		padding-left: 6px !important;
	}
	
	.woocommerce-page table.cart td.actions .button.alt, 
	.woocommerce-page #content table.cart td.actions .button.alt {
		float: left;
		margin-top: 10px;
	}
	
	.woocommerce-page table.cart td.actions div, 
	.woocommerce-page #content table.cart td.actions div,
	.woocommerce-page table.cart td.actions input, 
	.woocommerce-page #content table.cart td.actions input {
		margin-bottom: 10px;
	}
	
	.woocommerce-page .cart-collaterals .cart_totals {
		float: left;
		width: 100%;
		text-align: left;
	}
	
	.woocommerce-page .cart-collaterals .cart_totals th, 
	.woocommerce-page .cart-collaterals .cart_totals td {
		border:0 !important;
	}
	
	.woocommerce-page .cart-collaterals .cart_totals table tr.cart-subtotal td,
	.woocommerce-page .cart-collaterals .cart_totals table tr.shipping td,
	.woocommerce-page .cart-collaterals .cart_totals table tr.total td {
		padding-left: 6px !important;
	}
	
	.woocommerce-page table.shop_table tr.cart-subtotal td,
	.woocommerce-page table.shop_table tr.shipping td,
	.woocommerce-page table.shop_table tr.total td,
	.woocommerce-page table.shop_table.order_details tfoot th,
	.woocommerce-page table.shop_table.order_details tfoot td {
		padding-left: 6px !important;
		border:0 !important;
	}
	
	.woocommerce-page table.shop_table tbody {
		padding-top: 10px;
	}
	
	.woocommerce .col2-set .col-1, 
	.woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2, 
	.woocommerce-page .col2-set .col-2,
	.woocommerce form .form-row-first, 
	.woocommerce form .form-row-last, 
	.woocommerce-page form .form-row-first, 
	.woocommerce-page form .form-row-last {
		float: none;
		width: 100%;
	}
	
	.woocommerce .order_details ul, 
	.woocommerce-page .order_details ul,
	.woocommerce .order_details, 
	.woocommerce-page .order_details {
		padding:0;
	}
	
	.woocommerce .order_details li, 
	.woocommerce-page .order_details li {
		clear: left;
		margin-bottom: 10px;
		border:0;
	}
	
	}
