.frontpage-category{
    @include outer-container();
    @include media($tablet-landscape) {
    display: flex;
    }
    .featured-product{
        @include span-columns(12);
        @include media($tablet-landscape) {
            @include span-columns(8);
            padding: 20px;
        }
        .heading-ds{
            text-align: center;
            .title{
                color: $color-red;
                text-transform: capitalize;
            }
        }
        .manufacturer{
            padding: 10px;
            @include outer-container();
            .card-container{
                padding: 9px;
                border-radius: 2px;
                height: 150px;
                width: 150px;
                margin: 0 auto;
                background: none;
                border: none;
                display: flex!important;
                align-items: center;
                box-shadow: none;
                border: 1px solid #979797;
                margin-bottom: 20px;
                justify-content: center;
                @include span-columns(6);
                @include omega(2n);
                @include media($tablet-portrait) {
                    @include span-columns(6);
                    @include omega(2n);
                }
                @include media($tablet-landscape) {
                    @include omega-reset(2n);
                    @include span-columns(4);
                    @include omega(3n);
                }
                @include media($desktop) {
                    @include omega-reset(3n);
                    @include span-columns(3);
                    @include omega(4n);
                }

            }
        }
    }
    .widget-area{
        @include span-columns(12);
        @include media($tablet-landscape) {
            @include span-columns(4);
            margin-right: 0;
        }
    }
   
    .widget_nav_menu{
        display: none;
        @include media($tablet-landscape) {
            display: block;
        }
    }
}

.tablepress-id-8 img {
    display: inline;
    vertical-align: middle;
   }
   .tablepress-id-8 .column-1 {
   width: 20%;
   white-space: nowrap;
   }
   
   .tablepress-id-8 .column-2 {
   width: 10%;
   white-space: nowrap;
   }
   
   .tablepress-id-8 .column-3 {
   width: 30%;
   }
   
   .tablepress-id-8 .column-4 {
   width: 15%;
   white-space: nowrap;
   }
   
   .tablepress-id-8 .column-5 {
   width: 10%;
   white-space: nowrap;
   }
   
   .tablepress-id-8 .column-6 {
   width: 10%;
   white-space: nowrap;
   }