.manufacturer{
        .header{
            padding: 20px 0;
            .title{
                color:$color-red;
                font-size: 36px;
                font-weight: 400;
                margin: 0;
                text-transform: capitalize;
            }
        }
    .manufacturer-list{
		display: block;
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f4f4f4;
        border: solid 2px $color-red;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
		@include outer-container();
		@include media($tablet-landscape) {
			display: flex;
			align-items: center;
		}
        .company-logo {
            display: flex!important;
            justify-content: center;
            @include span-columns(12);
            @include media($tablet-landscape) {
                @include span-columns(2);
            }
        }
        .manufacturer-contents{
            @include span-columns(12);
            @include media($tablet-landscape) {
                @include span-columns(9);
            }
            .title{
                margin-bottom: 0;
            }
            a{
                text-decoration: none;
            }
            .button-section{
				display: flex;
				justify-content: space-between;
				padding-top: 20px;
				@include media($tablet-landscape) {
					display: block;
					
				}
                a{
                    text-decoration: none;
                }
            }
        }
    }
}
