.blog{
    .blog-header{
        padding-top: 40px;
        .page-title{
            color: $color-red;
        }
    }
    .manufacturer-news{
        background-color: #f4f4f4;
        border: solid 2px $color-red;
        margin-bottom: 30px;
        @include outer-container();
        @include media($tablet-portrait) {  
        display: flex;
        align-items: center;
        }
        .featured-img{
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(4);
            }
            a{
                display: block;
                img{
                    display: block;
                    height: 100%;
                }
            }
        }
        .blog-content{
            padding: 20px;
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(8);
                padding: 20px;
                
            }
            .entry-header{
                .entry-title{
                    font-size: 18px;
                    margin-bottom: 0;
                    a{
                        text-decoration: none;
                        color: $color-red;
                    }
                }
            }
            .entry-meta{
                .posted-on{
                    font-size: 14px;
                    a{
                    text-decoration: none;
                    }
                }
            }
            .entry-content{
                margin: 0.5rem 0 0;
                a{
                 color: $color-red;
                }
            }
        }
    }
}