.table-block{
    .tablepress{
        width: 100% !important;
        img{
            max-width: 100%!important; 
            height: auto;
            width: 100px;
        }
        thead th{
            background-color: $color-black !important; ;
            color: $color-white;
        }
        tbody{
            .column-1{
                font-weight: bold;
                color: $color-red;
            }
        }
    } 
    a{
        color: $color-red;
    }
}