.page-my-account{
.woocommerce-MyAccount-navigation{
    ul{
        background-color: #fff;
        transition: .25s;
        border-radius: 5px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
        overflow: hidden;
        padding: 20px;
        list-style: none;
        .woocommerce-MyAccount-navigation-link {
            a{
                text-decoration: none;
                font-size: 20px;
                color: $color-red;
                &:hover, &:active, &:focus{
                    border-bottom: 2px solid rgb(27, 26, 26);  
                }
            }
        }
    }
}
.woocommerce-MyAccount-content{
    background-color: #fff;
    transition: .25s;
    border-radius: 5px;
    box-shadow: 3px 3px  10px rgba(0, 0, 0, .1);
    overflow: hidden;
    padding: 20px;
    a{
     color: $color-red;
     text-decoration: none;   
     &:hover{
        border-bottom: 2px solid rgb(27, 26, 26);  
    }
    }
    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=range],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    textarea{
        color: $color-black;
    }
    
    .button, .woocommerce-Button, .woocommerce button.button,{
        margin-top: 10px;
    }
}

}