.woocommerce-products-header {
    display: block;
    @include outer-container();
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    @include media($tablet-portrait) {
       display: flex;
    }
    .company-logo{
        display: flex!important;
        align-items: center;
        justify-content: center;
        padding: 20px;
        @include span-columns(12);
        @include media($tablet-portrait) {
            @include span-columns(2);
        }

    }
    .manufacturer-content{
        padding: 20px;
        @include span-columns(12);
        @include media($tablet-portrait) {
            @include span-columns(10);
        }
        .manufacture-name{
            display: flex;
                padding-bottom: 10px;
                border-bottom: 2px dashed #ddd;
                @include media($tablet-landscape) {
                    display: block;
                }
            .woocommerce-products-header__title{
                color: $color-red;
                font-size: 20px;
                font-weight: 700;
              }
              .view-parts{
                color: $color-red;
                float: right;
              }
        }
        
        a{
            text-decoration: none;
            }
    }
}