//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a {
	color: $color-link;
	transition: $transition-opacity;
	transition: all .2s;

	&:visited {
		color: $color-link;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
		transition: all .2s;
	} // &:hover, &:focus, &:active
} // a


