
    .widget_nav_menu{
        padding: 0;
        background: #52565d;
        .widget-title{
            padding: 20px;
            color: $color-white;

        }

        ul#menu-sidebar-menu {
            margin: 0;
            padding: 0;
            max-width: 400px;
            list-style: none;
            list-style-type: none;
            li a  {
                padding: 5px 25px;
                display: block;
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                transition: all .25s ease-in;
                    
            }
            &> li:first-child > a {
                border-top: 1px solid rgba(255, 255, 255, 0.3)
            }
            & > li > a {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                &:hover  {
                    background: darken( #52565d, 10%);

                }
            }
            li.menu-item-has-children ul {
                    padding: 0px;
                li {
                    background-color: #3c3636;
                    transition: all .25s ease-in;
                    &:hover {
                        color: #fff;
                        background-color: #52565d;
                    } 
                }
            }
              li.menu-item-has-children > a::after {
                content: '';
                display: inline-block;
                position: relative;
                left: 180px;
                transform: rotate(-90deg);
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-top: 7px solid #fff;
                transition: all .5s;
            }
            li.active.menu-item-has-children > a::after {
                transform: rotate(0deg);
            }
            .menu-item-has-children > ul {
                display: none;
            }
        }

    }
